    <dx-toolbar class="header-toolbar dx-theme-accent-as-background-color">
        <dxi-item
            location="before"
            widget="dxButton"
            locateInMenu="never">
            <div *dxTemplate>
                <div class="app-name">POKEMON REPOSITORY</div>
            </div>
        </dxi-item>
        <dxi-item
            location="after">
            <dx-autocomplete
                placeholder="Search"
                [(value)]="searchPokename"
                [showClearButton]="true"
                [dataSource]="pokemons"
                (onEnterKey)="searchPokemon()"></dx-autocomplete>
        </dxi-item>
    </dx-toolbar>