.app-name {
  font-size: 1.2rem;
  margin: 5px 10px;
  font-weight: bold;
}

.header-toolbar {
  color: #fff;
  padding: 10px;
  box-shadow: 5px 0 10px #363636;
}

.logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
}