<div class="container" >
    <!-- Gid of pokemons -->
    <div class="pokemon-grid">
        <div *ngFor="let poke of pokeList" class="pokemon-unit">
            <div class="pokemon-id"> {{ poke.id }}</div>
            <img [src]="poke.img" alt="poke.name">
            <div class="pokemon-name dx-theme-text-color">
                {{ poke.name | titleCase}}
            </div>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="pokemon-nav">
        <div class="navigate-icon">
            <dx-button 
                icon="chevronleft" 
                text="Prev" 
                (onClick)="navigatePrev()"
                type="default"></dx-button>
        </div>

        <div class="navigate-icon">
            <dx-button 
                icon="chevronright" 
                text="Next" 
                [rtlEnabled]="true" 
                (onClick)="navigateNext()"
                type="default"></dx-button>
        </div>
    </div>
</div>