// * {
//   border: 1px solid black;
// }
//@import "../../../../node_modules/devextreme/scss/bundles/dx.softblue.scss";

.pokemon-name {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pokemon-nav {
  display: flex;
  justify-content: space-between;
}

.pokemon-unit {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(182, 182, 182);
  border: 1px solid rgba(182, 182, 182, 0.2);
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: scale(90%);
  }
}

.navigate-icon {
  margin: 10px auto;
}

.pokemon-id {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 25px;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 5px;
  color: #fff;
}
