.pokemon-title-row {
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #999;

  .pokemon-icon {
    display: block;
    padding: 10px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  .pokemon-types {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .type-row {
      display: flex;

      img {
        margin: 0 5px;
      }
    }
  }
}

.stats-rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;

  .stat {
    margin: 5px 5px;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;
  }
}

.ml15 {
  margin-left: 15px;
}

.mr10 {
  margin-right: 10px;
}
