<dx-popup
        *ngIf="pokemonName"
        [width]="370"
        [height]="500"
        [showTitle]="true"
        [title]="pokemonName | titleCase"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="pokemonDetailVisible">
        <dx-scroll-view *ngIf="pokemonDetail"
            [useNative]="false">
            <!-- Display Pokemon Card with images -->
            <div class="pokemon-title-row">
                <div class="pokemon-icon">
                    <img [src]="pokemonDetail.sprites.other.dream_world.front_default" alt="">
                </div>
                <div class="pokemon-types">
                    <div class="type-row" *ngFor="let pokemonType of pokemonDetail.types">
                        <img src="assets/images/{{pokemonType.type.name}}.png">
                        <h3>{{ pokemonType.type.name | titleCase }}</h3>
                    </div>
                </div>
            </div>
    
            <!-- Display Pokemon Stats -->
            <div class="stats-rows">
                <div class="stat" *ngFor="let pokeStat of pokemonDetail.stats">
                    <p>{{ pokeStat.stat.name | titleCase }}: </p>
                    <p>{{ pokeStat.base_stat }}</p>
                </div>
            </div>
    
            <!-- Display Moves -->
            <div class="moves-row">
                <p class="m5">Moves: </p>
                <div class="moves">
                    <div class="pill dx-theme-accent-as-background-color" 
                            *ngFor="let pokeMove of pokemonDetail.moves">
                        <p class="m5">{{ pokeMove.move.name | titleCase }}</p>
                    </div>
                </div>
            </div>
    </dx-scroll-view>
</dx-popup>

