<dx-scroll-view *ngIf="pokemonDetail"
    [useNative]="false">
        <div class="pokemon-title-row">
            <div class="pokemon-icon">
                <img [src]="pokemonDetail.sprites.other.dream_world.front_default" alt="">
            </div>
            <div class="pokemon-types">
                <div class="type-row" *ngFor="let pokemonType of pokemonDetail.types">
                    <img src="../../../assets/images/{{pokemonType.type.name}}.png">
                    <h3>{{ pokemonType.type.name | titleCase }}</h3>
                </div>
            </div>
        </div>
</dx-scroll-view>
